---
import { type CollectionEntry } from "astro:content";

import PlayButton from "@/components/PlayButton.astro";

import { getPrettyDate } from "@/utils";

type ShowCardProps = {
  show: CollectionEntry<"shows">;
};

const { show } = Astro.props as ShowCardProps;
---

<li
  class="relative grid content-between justify-items-start gap-6 rounded-lg bg-white p-6 shadow-md ring-1 ring-black/5 transition hover:-translate-y-px hover:shadow-lg"
>
  <div>
    <h2
      class="text-pretty text-lg font-medium sm:text-2xl"
      transition:name={`title-${show.slug}`}
    >
      {show.data.title}
    </h2>

    <time
      transition:name={`published-on-${show.slug}`}
      datetime={show.data.publishedOn.toString()}
      class="mt-2 block text-sm leading-6 text-slate-600"
      >{getPrettyDate(show.data.publishedOn, "short")}</time
    >

    <p
      class="mt-4 line-clamp-4 text-sm leading-6 text-slate-600"
      transition:name={`intro-text-${show.slug}`}
    >
      {show.data.introText}
    </p>
  </div>

  <PlayButton show={show} />

  <a
    href={`/shows/${show.slug}`}
    class="absolute inset-0"
    aria-label="Go to episode page"></a>
</li>
