---
import { type GetStaticPaths } from "astro";

import Layout from "@/layouts/BaseLayout.astro";
import ShowsGrid from "@/components/ShowsGrid.astro";
import { getLatestShows } from "@/utils";

export const getStaticPaths = (async ({ paginate }) => {
  const shows = await getLatestShows();
  return paginate(shows, { pageSize: 15 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Published Shows">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between">
      <h1 class="text-2xl font-medium">All Episodes</h1>

      <!-- Pagination -->
      <div class="flex items-center gap-8">
        <p>Page {page.currentPage} of {page.lastPage}</p>
        <div class="flex gap-4">
          <!-- Previous page -->
          <a
            href={page.url.prev}
            class={page.url.prev ? "" : "pointer-events-none opacity-10"}
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-left"
            >
              <path d="m15 18-6-6 6-6"></path>
            </svg>
          </a>

          <!-- Next page -->
          <a
            href={page.url.next}
            class={page.url.next ? "" : "pointer-events-none opacity-10"}
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-right"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-8">
      <ShowsGrid shows={page.data} />
    </div>
  </div>
</Layout>
