---
import { getCollection, getEntry } from "astro:content";
import Layout from "@/layouts/BaseLayout.astro";
import AudioPlayer from "@/components/AudioPlayer.astro";
import YouTubeVideo from "@/components/YouTubeVideo.astro";

export async function getStaticPaths() {
  const shows = await getCollection("shows");
  return shows.map((show) => ({
    params: { slug: show.slug },
  }));
}

const show = await getEntry("shows", Astro.params.slug);

const guests = await getCollection("guests");
const showGuests = guests.filter((guest) => {
  const shows = guest.data.shows.map((show) => show.slug);
  return shows.includes(show.slug);
});

const { Content } = await show.render();

const prettyDate = new Date(show.data.publishedOn).toLocaleDateString("au-AU", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title={show.data.title} description={show.body.slice(0, 156) + "..."}>
  <div class="mx-auto max-w-2xl px-4 py-16">
    <h1 class="text-2xl font-medium">{show.data.title}</h1>
    <p class="mt-2 text-sm font-medium text-slate-600">
      Episode {show.data.id} &middot; Published on <time
        datetime={show.data.publishedOn.toString()}>{prettyDate}</time
      >
    </p>

    {
      showGuests.length > 0 && (
        <div class="mt-8">
          <h2 class="text-sm font-medium text-slate-600">Featuring:</h2>
          <ul class="mt-4 flex items-center gap-4">
            {showGuests.map((guest) => (
              <li class="flex items-center gap-4">
                <img
                  src={guest.data.avatarUrl}
                  class="size-20 rounded-full object-cover shadow-lg ring-1 ring-black/5"
                  alt=""
                />
                <div>
                  <h3 class="text-lg font-medium">{guest.data.name}</h3>
                  {guest.data.links.length > 0 && (
                    <ul class="flex gap-4">
                      {guest.data.links.map((link) => (
                        <li>
                          <a
                            href={link.url}
                            class="text-sm underline hover:no-underline"
                          >
                            {link.label}
                          </a>
                        </li>
                      ))}
                    </ul>
                  )}
                </div>
              </li>
            ))}
          </ul>
        </div>
      )
    }

    <div class="mt-12 grid gap-2 text-lg text-slate-600">
      <AudioPlayer url={show.data.mp3Url} />
      <div class="prose prose-slate mt-8 lg:prose-lg">
        <Content
          components={{
            YouTubeVideo,
          }}
        />
      </div>
      {
        show.data?.youtubeVideoId && (
          <>
            <hr class="mt-8" />
            <div class="mt-8 grid gap-8">
              <h2 class="text-2xl font-medium">
                Watch the video version of this episode
              </h2>
              <YouTubeVideo videoId={show.data.youtubeVideoId} />
            </div>
          </>
        )
      }
    </div>
  </div>
</Layout>
